iframe {
  pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { 
  appearance: 'auto';
  -moz-appearance:textfield; }

.form-control:focus,
.btn-check:focus+.btn, .btn:focus{
  box-shadow: none;
}

.form-control:focus,
input:focus,
select:focus,
textarea:focus{
    box-shadow: none!important;
    background: white!important;
}

.form-control:disabled{
    background: white;
}

.form-select:disabled{
    background: white;
}

input#nro_telefono{
    border: 0 solid white;
}

input:focus-visible{
    outline: -webkit-focus-ring-color auto 0px;
}

button:focus{
    box-shadow: none;
}